<%# show_filters: :when_filtered %>

 <div class="gumb" style="padding-left:10px; padding-top:20px; padding-bottom:10px;" ><%= link_to "Kreiraj novo predavanje", new_event_path, :class => "btn btn-primary" %></div>

<%= grid(@event_grid, show_filters: :always) do |g| 

	g.column name: "ID", attribute: 'id'  do |t|
		t.id
	end

	g.column name: "Naziv", attribute: 'title', custom_filter: :auto do |t|
		t.title
	end

	g.column name: "Grupa", attribute: 'name', custom_filter: :auto , model: Group do |t|
		if t.group != nil
		 t.group.name#link_to(t.group.name, grupa_path(t.id))
		else
			"Nema grupe"
		end
	end

	g.column name: "Datum predavanja", attribute: 'date', ordering: true, helper_style: :standard do |t|
		t.date.strftime(" %d.%m.%Y. ")
	end

	g.column name: "PoÄetak predavanja", attribute: 'start' do |t|
		t.start
	end

	g.column name: "Kraj predavanja", attribute: 'end' do |t|
		t.end
	end

	g.column name: "Upisano predavanje", attribute: 'odrzano'  do |t|
		t.odrzano? ? "Yes" : "No"
	end

	g.column do |t|
		link_to("Stranica predavanja", event_path(t.id))
	end

end-%>