<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h2><%=  @group.name %></h2></h3>
  </div>
  <div class="panel-body">
	<ul>
		<li><div class="well well-sm"><%= @group.profesor.name %></div></li>
		<li><div class="well well-sm"><%= @group.level %></div></li>
	</ul>

	<h3>Popis UÄenika</h3>
	<% @group.uceniks.each do |ucenik| %>
	<ul>
		<li><div class="well well-sm"><%= link_to ucenik.name, ucenik_path(ucenik.id) %></div></li>
	</ul>
	<% end %>

  </div>
</div>




