<% if params[:controller] == 'all_events' %>
<div class="well">
		<h2>Učionice</h2>
		<ul>
			<h3>Zagreb, Radnička cesta 27</h3>
			<li style="color:#FF0000">Njemačka</li>
			<li style="color:#00FF00">Engleska</li>
			<li style="color:#0000FF">Hrvatska</li>
			<h3>Zaprešić, Ante Starčevića 11</h3>
			<li style="color:#FFCC00">Frankfurt</li>
			<li style="color:#00CCFF">Paris</li>
			<li style="color:#C0C0C0">Munchen</li>
			<li style="color:#CC9900">Venecija</li>
			<li style="color:#FF00CC">London</li>
			<li style="color:#000000">Barcelona</li>
		</ul>
	</div>
<% end %>